.my-menu-item {
    color: black;
}

.select {
    background-color: #f2f2f2;
    color: black;
    width: 260px;
    margin: 8px;
    height: 60px;
}

.label {
    margin-top: 7px;
    margin-left: 5px;
    backgroundColor: #FFF;
    transform: translate(0px, -10px) scale(1);
}