.select-dropdown {

    background-color: #00ffff;

    color: #fff;

}
.select-label {
    color: #fff !important;
    white-space: normal;
    word-wrap: break-word;
    line-height: 1.2em;
    max-height: 2.4em; /* adjust this value to your desired height */
    overflow: hidden;
    margin-top: -6px;
    margin-left: -5px;
    font-size: 16px;

}
.select-label:hover {
    background-color: #00ffff !important;
    color: #fff;
}
